<div [ngClass]="{snapped: userHasLike}" class="face-snap-card">
  <h2>{{ faceSnap.title | titlecase}}</h2>
  @if (faceSnap.location) {
  <p>Localisation : {{ faceSnap.location }}</p>
  } @else {
  <p>Localisation non spécifiée</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>Face snap créée le {{ faceSnap.createdAt |  date: 'd MMMM yyyy, à HH:mm'}}</p>
  <p>
    <button (click)="onSnap()">{{ snapBtnText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >❤️ {{ faceSnap.snaps }}</span
    >
  </p>
</div>
